
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias dl="cd ~/Downloads"
alias g="git"
alias h="history"
alias dropbox='cd ~/Dropbox'
alias dt="cd ~/Desktop"
alias desktop="cd ~/desktop"
alias dev='cd ~/dev && la'
alias vvvwp='cd ~/dev/VVV/www/wordpress-default/wp-content/themes && la'
alias ddev='~/dev/www/dealersites && la'
alias goog='~/Google\ Drive/ && la'
alias bible='~/Google\ Drive/_Sync\ to\ Mac/Bible\ Study && la'

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# View HTTP traffic
# alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Trash: `npm install --global trash-cli` - https://github.com/sindresorhus/trash-cli
alias rm=trash

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Apps
alias sourcetree='open -a SourceTree .'
alias subl="open -a /Applications/Sublime\ Text.app"

# Utility
alias weather='curl wttr.in/mississauga'
alias worktime="/usr/bin/open -a '/Applications/Opera.app' 'https://www.google.ca/maps/timeline?hl=en&authuser=0&ei=YEegWq-pPMb-jwTz64fwBQ%3A5&ved=1t%3A17706&pb=!1m2!1m1!1s'"
alias verse='curl -L http://www.ourmanna.com/verses/api/get\?format\=text\&order\=random'

# Bad habits
alias hosts='sudo nano /etc/hosts'
alias zsh!="source ~/.zshrc"
alias zshconfig='subl ~/.zshrc'
alias aliases='subl ~/dev/sandbox/dotfiles/.aliases'

#Dumb
alias awesome='say high five brosef!'
alias crap='say sucks man, sorry bro.'
alias starwars='telnet towel.blinkenlights.nl'
alias nyan='telnet nyancat.dakko.us'
alias lol='say hahahaha -v Hysterical'

# Dumber
alias cooks="cooks1 && cooks2 && cooks3 && cooks4 && cooks5 && cooks6 && cooks7 && cooks8 && cooks9 && cooks10 && cooks11 && cooks12 && cooks13 && cooks14 && cooks15 && cooks16 && cooks17 && cooks18 && cooks19 && cooks20 && cooks21" # http://www.vulture.com/2014/11/too-many-cooks-lyrics.html
  alias cooks1='say -r 180 it takes a lot to make a stew.'
  alias cooks2='say -r 180 -v Karen "A pinch of salt and laughter too"'
  alias cooks3='say -r 180 "A scoop of kids to add the spice"'
  alias cooks4='say -r 180 -v Karen "A dash of love to make it nice. and you’ve got"'
  alias cooks5='say -r 180 -v "Fred" "Too many Cooks"'
  alias cooks6='say -r 180 -v Karen "Too many Cooks"'
  alias cooks7='say -r 180 -v "Ralph" "Too many Cooks"'
  alias cooks8='say -r 180 "Too many Cooks"'
  alias cooks9='say -r 180 -v "Bruce" "Too many Cooks"'
  alias cooks10='say -r 180 -v Karen "Too many Cooks"'
  alias cooks11='say -r 180 -v "Albert" "Too many Cooks"'
  alias cooks12='say -r 180 "Too many"'
  alias cooks13='say -r 180 -v Karen "It takes a lot to make a stew"'
  alias cooks14='say -r 180 "When it comes to me and you"'
  alias cooks15='say -r 180 -v Karen "And him and her and the baby too"'
  alias cooks16='say -r 180 -v "Bahh" "Too many Cooks it’s true"'
  alias cooks17='say -r 180 "The saying goes, it’ll spoil the broth"'
  alias cooks18='say -r 180 -v Karen "Honey, I think that’s not true"'
  alias cooks19='say -r 180 "Well maybe too many Cooks will spoil the broth, but they’ll fill our hearts with"'
  alias cooks20='say -r 180 "So much, so much luh, uh, uh, uh, uv."'
  alias cooks21='say -r 180 -v Whisper "Too many Cooks!"'
alias rap='rd && rd2'
  alias rd='say -r 320 "I said a hip. hop. Hippie to the hippie, The hip hip a hop and you dont stop a rock it, To the bang bang boogie say up jump the boogie To the rhythm of the boogie, thebeat. Now what you hear is not a test. I am rappin to the beat. And me the groove, and my friends are gonna try to move your feet. See I am Wonder Mike and I would like to say, hello, To the black to the white the red and the brown The purple and yellow. But first I gotta Bang bang the boogie to the boogie Say up jump the boogie to the bang bang boogie Lets rock you dont stop Rock the rhythm thatll make your body rock. Well so far youve heard my voice but I brought two friends along And the next on the mic is my man Hank Cmon Hank, sing that song!"'
  alias rd2='say -v Bruce -r 320 "Check it out, I am the C A S A the N O V A, And the rest is F L Y, You see I go by the code of the doctor of the mix, And these reasons I will tell you why. You see I am six foot one, and I am tons of fun When I dress to a Tee, You see I got more clothes than Muhammad Ali and I dress so viciously."'
alias vdone='say -v Whisper -r 125 Vagrant is done!'
alias bald='say -v cello "Dun Dun Dun Dun Dun Dun Dun Dun Dun Dun Dun Dun Dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun dun"'
